<a href="https://colab.research.google.com/github/kariukidan/Sigma_academy/blob/main/Assignment_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('schema.db')
cursor = conn.cursor()

In [ ]:
conn.execute('''CREATE TABLE IF NOT EXISTS Students (
                id INTEGER PRIMARY KEY,
                first_name TEXT,
                last_name TEXT,
                group_id INTEGER,
                FOREIGN KEY(group_id) REFERENCES Groups(id))''')

conn.execute('''CREATE TABLE IF NOT EXISTS Groups(
                id INTEGER PRIMARY KEY,
                group_name TEXT,
                faculty_id INTEGER,
                FOREIGN KEY(faculty_id) REFERENCES Faculties(id))''')

conn.execute('''CREATE TABLE IF NOT EXISTS Faculties (
                id INTEGER PRIMARY KEY,
                faculty_name TEXT,
                subject_count INTEGER)''')

In [ ]:
Students_data = [(1, 'John', 'Doe', 1),
                 (2, 'Alice', 'Smith', 1),
                 (3, 'Bob', 'Johnson', 2),
                 (4, 'Emma', 'Brown', 3),
                 (5, 'Michael', 'Davis', 3),
                 (6, 'Sophia', 'Wilson', 3),
                 (7, 'David', 'Maerinez',2)]

Groups_data = [(1, 'Group A', 1),
               (2, 'Group B', 2),
               (3, 'Group C', 3)]

Faculties_data = [(1, 'Faculty of Science', 10),
                  (2, 'Faculty of Arts', 8),
                  (3, 'Faculty of Engineering', 12)]

In [ ]:
conn.executemany('INSERT INTO Students VALUES (?, ?, ?, ?)', Students_data)
conn.executemany('INSERT INTO Groups VALUES (?, ?, ?)', Groups_data)
conn.executemany('INSERT INTO Faculties VALUES (?, ?, ?)', Faculties_data)

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

tables = cursor.fetchall()

print("Show me all tables:")
for table in tables:
    print(table[0])

Show me all tables:
Students
Groups
Faculties

In [ ]:
for table_name in tables:
    table_name = table_name[0]
    query = f"PRAGMA table_info({table_name});"
    result = cursor.execute(query).fetchall()
    print(f"Structure {table_name}:")
    for column_info in result:
        print(column_info)

Structure Students:
(0, 'id', 'INTEGER', 0, None, 1)
(1, 'first_name', 'TEXT', 0, None, 0)
(2, 'last_name', 'TEXT', 0, None, 0)
(3, 'group_id', 'INTEGER', 0, None, 0)
Structure Groups:
(0, 'id', 'INTEGER', 0, None, 1)
(1, 'group_name', 'TEXT', 0, None, 0)
(2, 'faculty_id', 'INTEGER', 0, None, 0)
Structure Faculties:
(0, 'id', 'INTEGER', 0, None, 1)
(1, 'faculty_name', 'TEXT', 0, None, 0)
(2, 'subject_count', 'INTEGER', 0, None, 0)

In [ ]:


left_join_query = '''
SELECT Students.first_name || ' ' || Students.last_name AS 'Full Name', Faculties.subject_count AS 'Subject Count'

FROM Students
LEFT JOIN Groups ON Students.group_id = Groups.id
LEFT JOIN Faculties ON Groups.faculty_id = Faculties.id
'''
cursor.execute(left_join_query)

In [ ]:
results = cursor.fetchall()
for row in results:
  print(row)

('John Doe', 10)
('Alice Smith', 10)
('Bob Johnson', 8)
('Emma Brown', 12)
('Michael Davis', 12)
('Sophia Wilson', 12)
('David Maerinez', 8)

In [ ]:
    right_join_query = '''
    SELECT Faculties.faculty_name, COUNT(Students.id)
    FROM Faculties
    LEFT JOIN Groups ON Faculties.id = Groups.faculty_id
    LEFT JOIN Students ON Groups.id = Students.group_id
    GROUP BY Faculties.faculty_name
    '''
    cursor.execute(right_join_query)

In [ ]:
results = cursor.fetchall()
for row in results:
  print(row)

('Faculty of Arts', 2)
('Faculty of Engineering', 3)
('Faculty of Science', 2)

In [ ]:
    right_join_query = '''
    SELECT Faculties.faculty_name AS 'Faculty Name', COUNT(Students.id) AS 'Student Count'
    FROM Faculties
    LEFT JOIN Groups ON Faculties.id = Groups.faculty_id
    LEFT JOIN Students ON Groups.id = Students.group_id
    GROUP BY Faculties.faculty_name
    '''
    cursor.execute(right_join_query)

In [ ]:
results = cursor.fetchall()
for row in results:
  print(row)

('Faculty of Arts', 2)
('Faculty of Engineering', 3)
('Faculty of Science', 2)