<a href="https://colab.research.google.com/github/kariukidan/Sigma_academy/blob/main/Copy_of_2504_Practice_Data_sorting_and_aggregation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Grouping**

In `SQLite`, the `GROUP BY` operator is used in a `SELECT` query to collect data across multiple records and group the results into one or more columns.

A query that includes a `GROUP BY` clause is called a *grouping query* because it joins the rows of the source tables into groups and for
each group of rows generates one row in the query results table.

The columns specified in the `GROUP BY` clause are called *grouping columns*,
since they are the ones who determine on what basis the lines are divided into
groups.

**HAVING**

In `SQLite`, the `HAVING` operator is used in combination with `GROUP BY` to limit the groups of rows returned to only those whose condition is `TRUE`.

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
con = sqlite3.connect('Fully_Translated_Book_Simple_Database_Final.db')
cur = con.cursor()

In [ ]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")

tables = cur.fetchall()

print("Show me all tables:")
for table in tables:
    print(table[0])

Show me all tables:
author
publisher
category
book
authorbook

In [ ]:
for table_name in tables:
    table_name = table_name[0]
    query = f"PRAGMA table_info({table_name});"
    result = cur.execute(query).fetchall()
    print(f"Structure {table_name}:")
    for column_info in result:
        print(column_info)

Structure author:
(0, 'id', 'INTEGER', 1, None, 1)
(1, 'name', 'VARCHAR(255)', 1, None, 0)
Structure publisher:
(0, 'id', 'INTEGER', 1, None, 1)
(1, 'name', 'VARCHAR(255)', 1, None, 0)
Structure category:
(0, 'id', 'INTEGER', 1, None, 1)
(1, 'code', 'VARCHAR(255)', 1, None, 0)
(2, 'title', 'VARCHAR(255)', 1, None, 0)
Structure book:
(0, 'id', 'INTEGER', 1, None, 1)
(1, 'title', 'VARCHAR(255)', 1, None, 0)
(2, 'publisher_id', 'INTEGER', 0, None, 0)
(3, 'address', 'VARCHAR(255)', 0, None, 0)
(4, 'year', 'INTEGER', 1, None, 0)
(5, 'edition', 'VARCHAR(255)', 1, None, 0)
(6, 'numpages', 'INTEGER', 1, None, 0)
(7, 'language', 'VARCHAR(255)', 1, None, 0)
(8, 'remark', 'TEXT', 1, None, 0)
(9, 'category_id', 'INTEGER', 1, None, 0)
Structure authorbook:
(0, 'id', 'INTEGER', 1, None, 1)
(1, 'author_id', 'INTEGER', 1, None, 0)
(2, 'book_id', 'INTEGER', 1, None, 0)

In [ ]:
# Count authors
cur.execute("SELECT COUNT(*) FROM book;")
book_count = cur.fetchone()[0]
print(f"Number of books: {book_count}")

Number of books: 828

In [ ]:
cur.execute("SELECT count(id) FROM book;")
cur.fetchall()

[(828,)]

In [ ]:
cur.execute("SELECT MAX(year) FROM book;")
max_year = cur.fetchone()[0]
print(max_year)

19991

In [ ]:
cur.execute("SELECT year FROM book LIMIT 10;")
cur.fetchall()

[(1990,),
 (2005,),
 (2004,),
 (1963,),
 (1991,),
 (1963,),
 (1977,),
 (1978,),
 (1998,),
 (2000,)]

In [ ]:
#change year from 19991 to 1999
cur.execute("UPDATE book SET year = 1999 WHERE year = 19991")
con.commit()

In [ ]:
cur.execute("DELETE from book WHERE year = 2014")
con.commit()

In [ ]:
cur.execute("SELECT* from book WHERE year = 2014")
cur.fetchall()

[]

In [ ]:
cur.execute("SELECT DISTINCT year FROM book ORDER BY year DESC LIMIT 5;")
cur.fetchall()

[(2013,), (2012,), (2011,), (2010,), (2009,)]

In [ ]:
cur.execute("UPDATE book SET numpages = UPPER(numpages)")
con.commit()

In [ ]:
cur.execute("UPDATE book SET remark = UPPER(remark)")
con.commit()

In [ ]:
cur.execute("SELECT remark FROM book LIMIT 10;")
cur.fetchall()

[('TRANSLATED ',),
 ('TRANSLATED ',),
 ('TRANSLATED ',),
 ('TRANSLATED ',),
 ('TRANSLATED ',),
 ('TRANSLATED ',),
 ('TRANSLATED ',),
 ('TRANSLATED ',),
 ('TRANSLATED ',),
 ('TRANSLATED ',)]

In [ ]:
for table_name in tables:
    table_name = table_name[0]
    query = f"PRAGMA table_info({table_name});"
    result = cur.execute(query).fetchall()
    print(f"Structure {table_name}:")
    for column_info in result:
        print(column_info)

Structure author:
(0, 'id', 'INTEGER', 1, None, 1)
(1, 'name', 'VARCHAR(255)', 1, None, 0)
Structure publisher:
(0, 'id', 'INTEGER', 1, None, 1)
(1, 'name', 'VARCHAR(255)', 1, None, 0)
Structure category:
(0, 'id', 'INTEGER', 1, None, 1)
(1, 'code', 'VARCHAR(255)', 1, None, 0)
(2, 'title', 'VARCHAR(255)', 1, None, 0)
Structure book:
(0, 'id', 'INTEGER', 1, None, 1)
(1, 'title', 'VARCHAR(255)', 1, None, 0)
(2, 'publisher_id', 'INTEGER', 0, None, 0)
(3, 'address', 'VARCHAR(255)', 0, None, 0)
(4, 'year', 'INTEGER', 1, None, 0)
(5, 'edition', 'VARCHAR(255)', 1, None, 0)
(6, 'numpages', 'INTEGER', 1, None, 0)
(7, 'language', 'VARCHAR(255)', 1, None, 0)
(8, 'remark', 'TEXT', 1, None, 0)
(9, 'category_id', 'INTEGER', 1, None, 0)
Structure authorbook:
(0, 'id', 'INTEGER', 1, None, 1)
(1, 'author_id', 'INTEGER', 1, None, 0)
(2, 'book_id', 'INTEGER', 1, None, 0)

In [ ]:
# Count authors
cur.execute("SELECT COUNT(*) FROM author;")
author_count = cur.fetchone()[0]
print(f"Number of authors: {author_count}")

Number of authors: 1010

In [ ]:


# Find min and max ID of publishers
cur.execute("SELECT MAX(id), MIN(id) FROM publisher;")
max_min_id = cur.fetchone()
print(f"min and max ID: {max_min_id}")

min and max ID: (218, 1)

In [ ]:
query = "SELECT * FROM publisher"
cur.execute(query)
all_books = cur.fetchall()
for book in all_books:
    print(book)

(1, 'Translated Наука')
(2, 'Translated Новое знание')
(3, 'Translated BHV')
(4, 'Translated ИИЛ')
(5, 'Translated Энергоатомиздат')
(6, 'Translated Физматгиз')
(7, 'Translated Мир')
(8, 'Translated Экономическая школа')
(9, 'Translated Высш. шк.')
(10, 'Translated Статистика')
(11, 'Translated БХВ-Петербург')
(12, 'Translated Профессия')
(13, 'Translated ЮНИТИ')
(14, 'Translated Вильямс')
(15, 'Translated Питер')
(16, 'Translated Радио и связь')
(17, 'Translated Экономика')
(18, 'Translated Зинатне')
(19, 'Translated Связь')
(20, 'Translated Юнити-Дана')
(21, 'Translated Гyманитарный Центр')
(22, 'Translated Дело')
(23, 'Translated Прогресс')
(24, 'Translated Наук. думка')
(25, 'Translated Финансы и статистика')
(26, 'Translated Изд-во Ин-та математики')
(27, 'Translated Новое издательство')
(28, 'Translated ЛКИ')
(29, 'Translated Едиториал УРСС')
(30, 'Translated ФИЗМАТЛИТ')
(31, 'Translated Экоперспектива')
(32, 'Translated ЮНИТИ-ДАНА')
(33, 'Translated Знание')
(34, 'Translated Мысль')
(35, 'Translated ИНФРА-М')
(36, 'Translated Наука для общества')
(37, 'Translated Высш.шк.')
(38, 'Translated ГУВШЭ')
(39, 'Translated АНХ')
(40, 'Translated ГУ ВШЭ')
(41, 'Translated ВГУ')
(42, 'Translated СОЛОН-Пресс')
(43, 'Translated ПМСОФТ')
(44, 'Translated Сов. радио')
(45, 'Translated Академия')
(46, 'Translated Факториал Пресс')
(47, 'Translated Феникс')
(48, 'Translated Ось-89')
(49, 'Translated МЭИ')
(50, 'Translated СИНТЕГ')
(51, 'Translated ФМЛ')
(52, 'Translated Дашков и К')
(53, 'Translated Финансы')
(54, 'Translated Юристъ')
(55, 'Translated Горячая линия --- Телеком')
(56, 'Translated Машиностроение')
(57, 'Translated Экзамен')
(58, 'Translated Анкил')
(59, 'Translated Гардарики')
(60, 'Translated Класс')
(61, 'Translated ГТТ')
(62, 'Translated НВТ-Дизайн')
(63, 'Translated Просвещение')
(64, 'Translated АН Арм. ССР')
(65, 'Translated МГУ')
(66, 'Translated ЛБЗ')
(67, 'Translated Имп. Унив. св. Влад.')
(68, 'Translated Велби')
(69, 'Translated ИЛИМ')
(70, 'Translated МЕЦНИЕРЕБА')
(71, 'Translated Дело и Сервис')
(72, 'Translated Агропромиздат')
(73, 'Translated Машиностроение-1')
(74, 'Translated БТИПБ')
(75, 'Translated Вища школа')
(76, 'Translated Олимп-Бизнес')
(77, 'Translated Энергоиздат')
(78, 'Translated Финстатинформ')
(79, 'Translated РЭШ')
(80, 'Translated Научная книга')
(81, 'Translated ИПХФ РАН')
(82, 'Translated ЭКМОС')
(83, 'Translated ГУУ')
(84, 'Translated Урал. гос. универ.')
(85, 'Translated ОНТИ')
(86, 'Translated СЗПИ')
(87, 'Translated Энергия')
(88, 'Translated Наука и техника')
(89, 'Translated МИСИО')
(90, 'Translated Физматлит')
(91, 'Translated МЦНМО')
(92, 'Translated ИСА')
(93, 'Translated ВШЭ')
(94, 'Translated ОРАГС')
(95, 'Translated ГАСИС')
(96, 'Translated Экономистъ')
(97, 'Translated Оникс')
(98, 'Translated ИПФ РАН')
(99, 'Translated ИНИОН РАН')
(100, 'Translated Вита-Пресс')
(101, 'Translated Тесей')
(102, 'Translated Телеком')
(103, 'Translated Эксмо')
(104, 'Translated Университет')
(105, 'Translated ИжГТУ')
(106, 'Translated Эгвес')
(107, 'Translated МГТУ им. Н.Э. Баумана')
(108, 'Translated Дизайн ПРО')
(109, 'Translated Прогрес')
(110, 'Translated Факториал')
(111, 'Translated НТЛ')
(112, 'Translated Выща шк.')
(113, 'Translated Сентябрь')
(114, 'Translated Питер Ком')
(115, 'Translated Апостроф')
(116, 'Translated АН СССР')
(117, 'Translated Высш. школа')
(118, 'Translated Высш. образование')
(119, 'Translated РХД')
(120, 'Translated Наукова думка')
(121, 'Translated Штиинца')
(122, 'Translated МФПА')
(123, 'Translated ММИЭИ')
(124, 'Translated Логос')
(125, 'Translated Астрель')
(126, 'Translated Рус. яз.')
(127, 'Translated Символ-Плюс')
(128, 'Translated Советское радио')
(129, 'Translated Лори')
(130, 'Translated Горячая линия-Телеком')
(131, 'Translated Союз')
(132, 'Translated Изд. центр ЕАОИ')
(133, 'Translated ЛИБРОКОМ')
(134, 'Translated МЭСИ')
(135, 'Translated Бизнес-школа')
(136, 'Translated МАКС Пресс')
(137, 'Translated БИНОМ')
(138, 'Translated КомКнига')
(139, 'Translated PMI')
(140, 'Translated Альпина')
(141, 'Translated ЕАОИ')
(142, 'Translated ДИАЛОГ-МИФИ')
(143, 'Translated ЗАО <<ПМСОФТ>>')
(144, 'Translated НГУ')
(145, 'Translated СО РАН')
(146, 'Translated ХПИ')
(147, 'Translated Диалектика')
(148, 'Translated Специальная Литература')
(149, 'Translated Инст. компл. страт. исслед.')
(150, 'Translated ТНТ')
(151, 'Translated ЛУ')
(152, 'Translated Технiка')
(153, 'Translated Стандарты и качество')
(154, 'Translated МАИ')
(155, 'Translated Красанд')
(156, 'Translated Неизвестно')
(157, 'Translated Институт экономики РАН')
(158, 'Translated Вузовская книга')
(159, 'Translated ИКСИ')
(160, 'Translated ЛЕНАНД')
(161, 'Translated Либроком')
(162, 'Translated СПбГУАП')
(163, 'Translated Эдиториал УРСС')
(164, 'Translated ИПРЖР')
(165, 'Translated Университетская книга')
(166, 'Translated Советская Энциклопедия')
(167, 'Translated Лань')
(168, 'Translated НИЯУ МИФИ')
(169, 'Translated МИФИ')
(170, 'Translated Проспект')
(171, 'Translated МФТИ')
(172, 'Translated Инфра-М')
(173, 'Translated ГИТТЛ')
(174, 'Translated Спец. лит-ра')
(175, 'Translated Бином')
(176, 'Translated Судостроение')
(177, 'Translated Высшая школа')
(178, 'Translated КОРОНА-Век')
(179, 'Translated Дрофа')
(180, 'Translated ЯСК')
(181, 'Translated ЛЭГИ')
(182, 'Translated Восток-Запад')
(183, 'Translated ЧеРо')
(184, 'Translated Научный эксперт')
(185, 'Translated Учб. пед. изд.')
(186, 'Translated Тетра')
(187, 'Translated Бизнес-пресса')
(188, 'Translated Рус.яз.')
(189, 'Translated Аэроконсалт')
(190, 'Translated ДВГУ')
(191, 'Translated ИУИТ')
(192, 'Translated МГТУ им. Н.Э.Баумана')
(193, 'Translated Феликс')
(194, 'Translated ФОРУМ')
(195, 'Translated Четыре четверти')
(196, 'Translated С.-Петерб. ун-та')
(197, 'Translated Альпина Паблишер')
(198, 'Translated ИПП Куна')
(199, 'Translated ДМК Пресс')
(200, 'Translated Новое звание')
(201, 'Translated Гелиос')
(202, 'Translated Филин')
(203, 'Translated Добросвет')
(204, 'Translated ИПУ РАН')
(205, 'Translated УСЭ')
(206, 'Translated СПбГПУ')
(207, 'Translated РАГС')
(208, 'Translated РУДН')
(209, 'Translated Книга')
(210, 'Translated БГУ')
(211, 'Translated ТМЛ-Пресс')
(212, 'Translated Новосиб. гос. ун-т')
(213, 'Translated ИИнтеЛЛ')
(214, 'Translated Препринт')
(215, 'Translated АСТ')
(216, 'Translated Физматкнига')
(217, 'Translated ГПНТБ')
(218, 'Translated КГТУ')