<a href="https://colab.research.google.com/github/kariukidan/Sigma_academy/blob/main/Copy_of_1006_SQL_Case.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Project: Sales Analysis Using the Northwind Database and Python
Project Description**

Students will use the Northwind database to analyze sales and create reports using SQL and Python. The project includes the following stages:

-- Database Connection: Use Python to connect to the SQL database.

-- Data Extraction: Write SQL queries to extract data from the database.

-- Data Analysis: Analyze the extracted data using Pandas and Matplotlib libraries.

-- Data Visualization: Create visualizations to present the analysis results.

In [ ]:
# Install necessary libraries
!pip install pandas matplotlib

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.53.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

**Students must write several SQL queries to retrieve data:**
Retrieving a list of all products and their categories.

Find all customers who have placed orders in the last 5 years.

Determine the top 10 best-selling products

In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

# Path to your SQLite database file
database = '/content/Northwind_small.sqlite'  # Ensure the file is correctly uploaded to Colab

In [ ]:
# Function to create a connection to the SQLite database
def create_connection(db_file):
    """Create a database connection to a SQLite database."""
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print("Connection to SQLite DB successful")
    except sqlite3.Error as e:
        print(f"The error '{e}' occurred")
    return conn

# Function to execute a SQL query and return a pandas DataFrame
def execute_query(conn, query):
    """Execute a SQL query and return a pandas DataFrame."""
    try:
        cursor = conn.cursor()
        cursor.execute(query)
        col_names = [description[0] for description in cursor.description]
        rows = cursor.fetchall()
        df = pd.DataFrame(rows, columns=col_names)
        return df
    except sqlite3.Error as e:
        print(f"The error '{e}' occurred")
        return None

# Create a connection to the database
conn = create_connection(database)

Connection to SQLite DB successful

In [ ]:
def get_table_names(conn):
    """Retrieve all table names from the SQLite database."""
    query = "SELECT name FROM sqlite_master WHERE type='table';"
    try:
        cursor = conn.cursor()
        cursor.execute(query)
        tables = cursor.fetchall()
        table_names = [table[0] for table in tables]
        return table_names
    except sqlite3.Error as e:
        print(f"The error '{e}' occurred")
        return []
tables = get_table_names(conn)
print("Tables in the database:")
print(tables)

Tables in the database:
['Employee', 'Category', 'Customer', 'Shipper', 'Supplier', 'Order', 'Product', 'OrderDetail', 'CustomerCustomerDemo', 'CustomerDemographic', 'Region', 'Territory', 'EmployeeTerritory']

In [ ]:
# Step 4: Extract data with SQL queries
#1 Retrieving a list of all products and their categories.

query_all_products_and_categories = """SELECT Product.ProductName, Category.CategoryName FROM Product INNER JOIN Category ON Product.CategoryId = Category.Id"""
df_products = execute_query(conn, query_all_products_and_categories)
print(df_products)

                        ProductName CategoryName
0                              Chai    Beverages
1                             Chang    Beverages
2                     Aniseed Syrup   Condiments
3      Chef Anton's Cajun Seasoning   Condiments
4            Chef Anton's Gumbo Mix   Condiments
..                              ...          ...
72                       Röd Kaviar      Seafood
73                    Longlife Tofu      Produce
74             Rhönbräu Klosterbier    Beverages
75                     Lakkalikööri    Beverages
76  Original Frankfurter grüne Soße   Condiments

[77 rows x 2 columns]

In [ ]:
query = "SELECT* FROM Category"
df = execute_query(conn, query)
print(df)

   Id    CategoryName                                        Description
0   1       Beverages        Soft drinks, coffees, teas, beers, and ales
1   2      Condiments  Sweet and savory sauces, relishes, spreads, an...
2   3     Confections                Desserts, candies, and sweet breads
3   4  Dairy Products                                            Cheeses
4   5  Grains/Cereals                Breads, crackers, pasta, and cereal
5   6    Meat/Poultry                                     Prepared meats
6   7         Produce                          Dried fruit and bean curd
7   8         Seafood                                   Seaweed and fish

In [ ]:
query = "SELECT* FROM Product"
df = execute_query(conn, query)
print(df)

    Id                      ProductName  SupplierId  CategoryId  \
0    1                             Chai           1           1
1    2                            Chang           1           1
2    3                    Aniseed Syrup           1           2
3    4     Chef Anton's Cajun Seasoning           2           2
4    5           Chef Anton's Gumbo Mix           2           2
..  ..                              ...         ...         ...
72  73                       Röd Kaviar          17           8
73  74                    Longlife Tofu           4           7
74  75             Rhönbräu Klosterbier          12           1
75  76                     Lakkalikööri          23           1
76  77  Original Frankfurter grüne Soße          12           2

        QuantityPerUnit  UnitPrice  UnitsInStock  UnitsOnOrder  ReorderLevel  \
0    10 boxes x 20 bags      18.00            39             0            10
1    24 - 12 oz bottles      19.00            17            40            25
2   12 - 550 ml bottles      10.00            13            70            25
3        48 - 6 oz jars      22.00            53             0             0
4              36 boxes      21.35             0             0             0
..                  ...        ...           ...           ...           ...
72      24 - 150 g jars      15.00           101             0             5
73            5 kg pkg.      10.00             4            20             5
74   24 - 0.5 l bottles       7.75           125             0            25
75               500 ml      18.00            57             0            20
76             12 boxes      13.00            32             0            15

    Discontinued
0              0
1              0
2              0
3              0
4              1
..           ...
72             0
73             0
74             0
75             0
76             0

[77 rows x 10 columns]

In [ ]:

# Step 4: Extract data with SQL queries

# Example query to get all customers
query_customers = "SELECT * FROM Customer"  # Correct table name
df_customers = execute_query(conn, query_customers)

# Display the first few rows of the Customers table
if df_customers is not None:
    print("Customers Table:")
    print(df_customers.head())

# Example query to get the top 10 best selling products
query_top_products = """
SELECT Product.ProductName, SUM(OrderDetail.Quantity) as TotalQuantity
FROM OrderDetail
JOIN Product ON OrderDetail.ProductID = Product.ProductID
GROUP BY Product.ProductName
ORDER BY TotalQuantity DESC
LIMIT 10;
"""

df_top_products = execute_query(conn, query_top_products)

# Display the first few rows of the top 10 best selling products
if df_top_products is not None:
    print("\nTop 10 Best Selling Products:")
    print(df_top_products)

# Step 5: Analyze and visualize the data

# Visualization of top 10 best selling products
if df_top_products is not None:
    plt.figure(figsize=(10, 6))
    plt.bar(df_top_products['ProductName'], df_top_products['TotalQuantity'], color='skyblue')
    plt.xlabel('Product Name')
    plt.ylabel('Total Quantity Sold')
    plt.title('Top 10 Best Selling Products')
    plt.xticks(rotation=45)
    plt.show()

# Close the connection to the database
if conn:
    conn.close()

Customers Table:
      Id                         CompanyName         ContactName  \
0  ALFKI                 Alfreds Futterkiste        Maria Anders
1  ANATR  Ana Trujillo Emparedados y helados        Ana Trujillo
2  ANTON             Antonio Moreno Taquería      Antonio Moreno
3  AROUT                     Around the Horn        Thomas Hardy
4  BERGS                  Berglunds snabbköp  Christina Berglund

           ContactTitle                        Address         City  \
0  Sales Representative                  Obere Str. 57       Berlin
1                 Owner  Avda. de la Constitución 2222  México D.F.
2                 Owner                Mataderos  2312  México D.F.
3  Sales Representative                120 Hanover Sq.       London
4   Order Administrator                Berguvsvägen  8        Luleå

            Region PostalCode  Country           Phone             Fax
0   Western Europe      12209  Germany     030-0074321     030-0076545
1  Central America      05021   Mexico    (5) 555-4729    (5) 555-3745
2  Central America      05023   Mexico    (5) 555-3932            None
3    British Isles    WA1 1DP       UK  (171) 555-7788  (171) 555-6750
4  Northern Europe   S-958 22   Sweden   0921-12 34 65   0921-12 34 67
The error 'no such column: Product.ProductID' occurred